@if (fs.data(); as data) {
  @if (data | fp: name; as fractal) {
    @for (name of (fractal | cp).Sort; track $index) {
      @switch (type) {
        @case ('Taps') {
          <app-tap [fractal]="fractal.fractals[name]"></app-tap>
        }
        @case ('Rows') {
          <ng-container [matColumnDef]="name">
            <th mat-header-cell *matHeaderCellDef>{{ name }}</th>
            <td mat-cell *matCellDef="let fractal">
              {{ fractal.controls[name].data }}
            </td>
          </ng-container>
        }
      }
    }
  }
}
