<ul
  class="list"
  [class.two-items]="rows.length === 2"
  [class.three-or-more-items]="rows.length >= 3">
  @for (row of rows; track row.cursor) {
    <li class="item">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title-group>
            <button top type="button" mat-flat-button (click)="ls.removeRow(row)">Cancel</button>
            <mat-card-title>{{ row.data('Position') }}</mat-card-title>
            <mat-card-subtitle class="subtitle" [class]="subtitle()">{{
              subtitle()
            }}</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <app-form [fractal]="row" />
        </mat-card-content>
      </mat-card>
    </li>
  }
</ul>
