<mat-form-field class="mat-form-field-app-input">
  <mat-label i18n>{{label}}</mat-label>
  <input #inputElementRef [type]="inputType" matInput [formControl]="inputFormControl" [placeholder]="placeholder">
  @if (inputFormControl.value && clearButton) {
  <button type="button" matSuffix mat-icon-button i18n-aria-label aria-label="Clear input"
    (click)="inputFormControl.setValue('')">
    <mat-icon>close</mat-icon>
  </button>
  }
  @if (inputFormControl.value && inputType === 'password') {
  <button type="button" matSuffix mat-icon-button i18n-aria-label aria-label="Password visibility"
    (click)="toggleInputType()">
    <mat-icon>{{toggleVisibilityIcon()}}</mat-icon>
  </button>
  }
  @if (inputFormControl.hasError(inputType) && !inputFormControl.hasError('required')) {
  <mat-error>{{messages.valid}} {{label}}</mat-error>
  }
  @if (inputFormControl.hasError('required')) {
  <mat-error>{{label}} {{messages.required}}</mat-error>
  }
</mat-form-field>