.mat-drawer-container-app-drawer {
  padding: calc(var(--size-small) / 2);
  width: 100%;
  height: 100%;
}

.mat-drawer-app-drawer {
  width: 150px;
}

.mat-list-app-drawer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
