.mat-drawer-container-app-drawer {
  padding: calc(var(--size-small) / 2);
  width: 100%;
  height: 100%;
  .confirm-button-app-drawer {
    color: var(--color-success);
  }
  .cancel-button-app-drawer {
    color: var(--color-danger);
  }
}

.mat-drawer-app-drawer {
  width: 150px;
}

.mat-list-app-drawer {
  display: flex;
  flex-direction: column;
  width: 100%;
  button {
    justify-content: start;
    height: calc(var(--size-large) * 2);
    &:hover {
      border-radius: 0;
    }
  }
}

button[disabled] {
  background-color: var(--color-common);
}
