<table mat-table [dataSource]="dataSource">
  @for (column of columns; track column) {
    <ng-container [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td mat-cell *matCellDef="let row">
        @if (controlsCollection) {
          {{ column === 'indicator' ? row.indicator : row.data }}
        } @else {
          {{ row.data(column) }}
        }
      </td>
    </ng-container>
  }
  <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: columns"
    appTap
    (hold)="onHold(controlsCollection ? fractal : row)"
    (touch)="onTouch(controlsCollection ? fractal : row)"
    [class.clicked-row]="clickedRow(row)"></tr>
</table>
