<form>
  @for (name of fractal.controlsKeys; track name) {
    @let control = fractal.getControl(name);
    @let controlFields = fractal.getControlFormsFields(name);
    @let dataCtr = controlFields.data;
    @let inputCtr = controlFields.input;

    @switch (control.input) {
      @case (controlInputs.New) {
        <app-select className="form-field" [name]="name" [opts]="controlInputsArray" [formCtr]="inputCtr" />
        <app-input [name]="name" [formCtr]="dataCtr" />
      }
      @case (controlInputs.Select) {
        <app-select className="form-field" [name]="name" [opts]="control.data.split(':')" [formCtr]="dataCtr" />
      }
      @default {
        <app-input [name]="name" [formCtr]="dataCtr" />
      }
    }
  }
</form>
