@if (ls.$list(); as list) {
  @if (Modifier) {
    <app-rows-modifier [rows]="ls.$rows()" />
  }
  @if (!Modifier) {
    @if (Lists === 'Home') {
      <app-modifier [fractals]="fs.root.list()" />
    } @else {
      <app-list
        [rows]="ls.$rows()"
        [columns]="ls.$columns[list.cursor]()"
        [dataSource]="list.list()"
        (hold)="ls.holdRow(list)"
        (touch)="rowTouched($event)"
        (holdHeader)="ls.editColumn()"
        (columnsChanged)="columnsChanged($event)" />
    }
  }
}
