@if (bs.ls.$list(); as list) {
  @if (modifyColumns$ | async) {
    <app-modifier modify="columns" />
  } @else if (Modifier) {
    <app-modifier [rows]="bs.ls.$rows()" (deleteRow)="bs.ls.removeRow($event)" />
  } @else {
    <app-list
      [rows]="bs.ls.$rows()"
      [columns]="bs.ls.$columns[list.cursor]()"
      [dataSource]="list.list()"
      (hold)="bs.ls.holdRow(list)"
      (touch)="rowTouched($event)"
      (holdHeader)="bs.ls.addColumn()"
      (columnsChanged)="columnsChanged($event)" />
  }
}
