@if (sort.length) {
  <table mat-table [dataSource]="fractal.array">
    @for (column of sort; track column) {
      <ng-container [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>
          {{ column }}
        </th>
        <td mat-cell *matCellDef="let fractal">
          {{ fractal.data(column) }}
        </td>
      </ng-container>
    }
    <tr mat-header-row *matHeaderRowDef="sort"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: sort"
      [class.row-is-clicked]="clickedRows.has(row)"
      appClick
      (onClick)="onClick.emit(row)"></tr>
  </table>
}
