@if (fractals.length > 0) {
  <mat-table [dataSource]="fractals" matSort>
    @for (column of columns; track column) {
      <h1>{{ column }}</h1>
      <ng-container [matColumnDef]="column">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.data(column) }}
        </mat-cell>
      </ng-container>
    }
    <mat-header-row *matHeaderRowDef="columns" />
    <mat-row
      mat-row
      *matRowDef="let row; columns: columns"
      appTap
      (hold)="hold.emit(row)"
      (touch)="touch.emit(row)"
      [class.row-is-clicked]="rows.includes(row)" />
  </mat-table>
}
