@use './variables.scss';
@use '@angular/material' as mat;

$theme: mat.define-theme();

body {
  margin: 0;
  padding: 0;
}

.app-toolbar-pages-global + .cdk-overlay-connected-position-bounding-box {
  transform: translateX(-28px);
}

.app-toolbar-pages-global,
.app-toolbar-settings-global,
.app-toolbar-actions-global {
  transform: translateY(-72px);
}

.mat-drawer-app-sidenav {
  .mat-drawer-inner-container {
    display: flex;
    flex-direction: column-reverse;
  }
}

.mat-drawer-container-app-sidenav {
  mat-drawer-content {
    height: calc(-130px + 100vh);
  }
}

.progress-spinner {
  @include mat.progress-spinner-color($theme, $color-variant: primary);
}
