@import "./variables.css";

body {
  margin: 0;
  padding: 0;
}

.app-toolbar-pages-global + .cdk-overlay-connected-position-bounding-box {
  transform: translateX(-28px);
}

.app-toolbar-pages-global,
.app-toolbar-settings-global,
.app-toolbar-actions-global {
  transform: translateY(-72px);
}

.mat-drawer-app-sidenav {
  .mat-drawer-inner-container {
    display: flex;
    flex-direction: column-reverse;
  }
}

app-form {
  .mat-mdc-form-field-icon-suffix {
    display: flex;
  }
}

.mat-drawer-container-app-sidenav {
  mat-drawer-content {
    height: calc(-130px + 100vh);
  }
}

.snack-bar {
  position: absolute;
  bottom: var(--toolbar-height);
}

.snack-bar span.mdc-button__label {
  color: var(--color-common);
}

.error-snack-bar div.mat-mdc-snackbar-surface {
  background-color: var(--color-danger);
}

.success-snack-bar div.mat-mdc-snackbar-surface {
  background-color: var(--color-success);
}