:root {
  --size-small: 8px;
  --size-medium: 16px;
  --size-large: 24px;

  --color-common: #fff;
  --color-success: green;
  --color-danger: red;

  --toolbar-height: calc(var(--size-large) * 3);
}
