:root {
  --size-small: 8px;
  --size-medium: 16px;
  --size-large: 24px;

  --color-common: #fff;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;

  --toolbar-height: calc(var(--size-large) * 3);
}
