<mat-drawer-container class="mat-drawer-container-app-sidenav" autosize>
  <mat-drawer
    [opened]="open$ | async"
    [disableClose]="false"
    class="mat-drawer-app-sidenav"
    mode="side"
    position="end">
    <mat-list class="mat-list-app-sidenav">
      @if (taps$ | async; as taps) {
        @for (name of taps.sort; track $index) {
          @if (taps.find(name); as tap) {
            <app-tap [fractal]="tap" (onClick)="onClick($event)"></app-tap>
          }
        }
      }
    </mat-list>
  </mat-drawer>
  @if (ss.root.signal()) {
    <router-outlet></router-outlet>
  }
</mat-drawer-container>
