@use 'variables.scss' as *;

.mat-drawer-container-app-sidenav {
  padding: calc($size-small / 2);
  width: 100%;
  height: 100%;
}

.mat-drawer-app-sidenav {
  width: 200px;
}

.mat-list-app-sidenav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

::ng-deep .mat-drawer-app-sidenav {
  .mat-drawer-inner-container {
    display: flex;
    flex-direction: column-reverse;
  }
}

::ng-deep .mat-drawer-container-app-sidenav {
  mat-drawer-content {
    height: calc(-130px + 100vh);
  }
}
