.mat-drawer-container-app-sidenav {
  padding: calc(var(--size-small) / 2);
  width: 100%;
  height: 100%;
}

.mat-drawer-app-sidenav {
  width: 200px;
}

.mat-list-app-sidenav {
  display: flex;
  flex-direction: column;
  width: 100%;
}
