<mat-drawer-container class="mat-drawer-container-app-sidenav" autosize>
  <mat-drawer
    [opened]="opened$ | async"
    [disableClose]="false"
    class="mat-drawer-app-sidenav"
    mode="side"
    position="end">
    <mat-list class="mat-list-app-sidenav">
      @if (ss.sidenavTaps.$fractal(); as taps) {
        @for (key of taps.sort; track key) {
          @if (ss.sidenavTaps.fractal.find(key); as tap) {
            <app-tap [fractal]="tap" (onClick)="onClick($event)"></app-tap>
          }
        }
      }
    </mat-list>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
