<ul
  class="list"
  [class.two-items]="rows().length === 2"
  [class.three-or-more-items]="rows().length >= 3">
  @for (row of rows(); track row.cursor) {
    <li class="item">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title-group>
            <button type="button" mat-flat-button (click)="deleteRow.emit(row)">Cancel</button>
            <mat-card-title>
              {{ row.cursor }} {{ row.status === 'New' ? row.status : null }}
            </mat-card-title>
            <mat-card-subtitle class="subtitle" [class]="subtitle()">{{
              subtitle()
            }}</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <app-form [sort]="row.parent.sort()" [formGroup]="row.formGroup" />
        </mat-card-content>
      </mat-card>
    </li>
  }
</ul>
