@if (fractals[0]; as fractal) {
  @if (modifiers === 'Edit') {
    <form>
      @for (indicator of sort; track indicator) {
        <app-input [label]="indicator" [control]="fractal.getFormControl(indicator)"></app-input>
      }
    </form>
  }
  @if (modifiers === 'Save') {
    <mat-list role="list" class="list">
      <div mat-subheader>Your changes</div>
      @for (indicator of sort; track indicator) {
        @if (fractal.getFormControl(indicator); as formControl) {
          @if (formControl.dirty) {
            <mat-list-item role="listitem" class="list-item">
              <mat-card appearance="outlined">
                <mat-card-header class="card-header">
                  <mat-card-title>{{ indicator }}</mat-card-title>
                  <mat-card-subtitle>{{
                    fractal.getFormControl(indicator).value
                  }}</mat-card-subtitle>
                </mat-card-header>
              </mat-card>
            </mat-list-item>
          }
        }
      }
    </mat-list>
  }
}
