.buttons-app-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.toolbar-app-toolbar {
  z-index: 1;
  height: var(--toolbar-height);
  display: flex;
  justify-content: end;
}