.toolbar-app-toolbar {
  height: calc(var(--size-large) * 3);
  display: flex;
  justify-content: left;
  position: fixed;
  bottom: 0;
}

.buttons-app-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
}

.example-container {
  position: absolute;
  width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-sidenav {
  padding: 20px;
}