<mat-toolbar (click)="onClickMatToolbar($event)" color="primary" class="toolbar-app-toolbar">
  <div class="buttons-app-toolbar">
    <button (menuOpened)="onMenuOpened('actions')" mat-mini-fab color="warn" aria-label="Actions" [matMenuTriggerFor]="actions" matMenuTriggerData="actions">
      <mat-icon>filter_list</mat-icon>
    </button>
    <mat-menu #actions="matMenu" xPosition="before" backdropClass="app-toolbar-actions-global">
      <button routerLink="/" mat-menu-item ariaCurrentWhenActive="page"><mat-icon>home</mat-icon>Home</button>
      <button routerLink="/users" mat-menu-item ariaCurrentWhenActive="page"><mat-icon>group</mat-icon>Users</button>
    </mat-menu>

    <button (menuOpened)="onMenuOpened('pages')" mat-fab color="warn" aria-label="Pages menu" [matMenuTriggerFor]="pages" matMenuTriggerData="pages">
      <mat-icon>apps</mat-icon>
    </button>
    <mat-menu #pages="matMenu" backdropClass="app-toolbar-pages-global" >
      <button routerLink="/" mat-menu-item ariaCurrentWhenActive="page"><mat-icon>home</mat-icon>Home</button>
      <button routerLink="/users" mat-menu-item ariaCurrentWhenActive="page"><mat-icon>group</mat-icon>Users</button>
    </mat-menu>

    <button (menuOpened)="onMenuOpened('settings')" mat-mini-fab color="warn" aria-label="Settings" [matMenuTriggerFor]="settings" matMenuTriggerData="settings" >
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #settings="matMenu" xPosition="after" backdropClass="app-toolbar-settings-global">
      <app-settings></app-settings>
    </mat-menu>
  </div>
</mat-toolbar>