@let icon = fractal.getData('Icon');

<mat-expansion-panel
  hideToggle
  [ngClass]="this.ss.$parent() === fractal ? 'active' : ''"
  (closed)="closed.emit(fractal)"
  (afterExpand)="afterExpand(fractal)">
  <mat-expansion-panel-header>
    <mat-panel-title>
      @if (icon) {
        <mat-icon class="icon">{{ icon }}</mat-icon>
      }
      {{ fractal.cursor }}</mat-panel-title
    >
  </mat-expansion-panel-header>
  <div class="children">
    <app-sheet class="collection" like="controls" [fractal]="fractal" />
    @if (hasColumns) {
      <app-sheet class="collection" [fractal]="fractal" />
    }
    @if (fractal.fractals) {
      <ng-content />
    }
  </div>
</mat-expansion-panel>
