<mat-expansion-panel
  hideToggle
  [ngClass]="this.cps.$current() === fractal ? 'active' : ''"
  (closed)="closed.emit(fractal)"
  (afterExpand)="afterExpand(fractal)">
  <mat-expansion-panel-header>
    <mat-panel-title>
      @if (fractal.data('Icon'); as icon) {
        <mat-icon class="icon">{{ icon }}</mat-icon>
      }
      {{ fractal.cursor }}</mat-panel-title
    >
  </mat-expansion-panel-header>
  <div class="children">
    <app-collection class="collection" like="controls" [rows]="us.$currents()" [fractal]="fractal" />
    @if (hasColumns) {
      <app-collection class="collection" [rows]="us.$currents()" [fractal]="fractal" />
    }
    @if (fractal.fractals) {
      <ng-content />
    }
  </div>
</mat-expansion-panel>
