<mat-expansion-panel
  hideToggle
  [ngClass]="this.cps.$current() === fractal ? 'active' : ''"
  (closed)="closed.emit(fractal)"
  (afterExpand)="afterExpand(fractal)">
  <mat-expansion-panel-header>
    <mat-panel-title>
      @if (fractal.data('Icon'); as icon) {
        <mat-icon class="icon">{{ icon }}</mat-icon>
      }
      {{ fractal.cursor }}</mat-panel-title
    >
  </mat-expansion-panel-header>
  <div class="children">
    <app-collection
      like="control"
      [rows]="us.$controls()"
      [columns]="['indicator', 'data']"
      [dataSource]="fractal.controlsList"
      (touch)="touch($event)" />

    @if (isCollection && fractal.list.length > 0) {
      <app-collection
        like="fractal"
        [rows]="us.$fractals()"
        [columns]="fractal.columns"
        [dataSource]="fractal.list"
        (touch)="touch($event)" />
    }

    @if (fractal.fractals) {
      <ng-content />
    }
  </div>
</mat-expansion-panel>
