@if (rts.$current(); as root) {
  @if (cs.$current(); as collection) {
    @if (Modifier) {
      <app-modifier />
    }
    @if (!Modifier) {
      @switch (Collections) {
        @case ('Home') {
          <h1>Home</h1>
        }
        @case ('App') {
          <app-control-panel [fractal]="root" />
        }
        @default {
          <app-collection
            [rows]="us.$currents()"
            [columns]="collection.columns"
            [dataSource]="collection.list"
            (hold)="rowHeld(collection)" />
        }
      }
    }
  }
}
