/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}

.positionX-mat-menu-center-vega + .cdk-overlay-connected-position-bounding-box {
  transform: translateY(-15px) translateX(-28px);
}