<mat-expansion-panel
  hideToggle
  [ngClass]="this.ams.$current() === fractal ? 'active' : ''"
  (closed)="closed.emit(fractal)"
  (afterExpand)="afterExpand(fractal)">
  <mat-expansion-panel-header>
    <mat-panel-title>
      @if (fractal.data('Icon'); as icon) {
        <mat-icon class="icon">{{ icon }}</mat-icon>
      }
      {{ fractal.cursor }}</mat-panel-title
    >
  </mat-expansion-panel-header>
  <div class="children">
    <app-collection [dataSource]="fractal.controlsList" [columns]="['indicator', 'data']" [rows]="rs.$currents()" />

    @if (isCollection && fractal.list.length > 0) {
      <app-collection [dataSource]="fractal.list" [columns]="fractal.columns" [rows]="rs.$currents()" />
    }
    @if (fractal.fractals) {
      <ng-content />
    }
  </div>
</mat-expansion-panel>
