<mat-expansion-panel
  [ngClass]="this.ams.$current() === fractal ? 'active' : ''"
  (afterExpand)="afterExpand(fractal)"
  (afterCollapse)="afterCollapse(fractal)">
  <mat-expansion-panel-header>
    <mat-panel-title>
      @if (fractal.data('Icon'); as icon) {
        <mat-icon class="icon">{{ icon }}</mat-icon>
      }
      {{ fractal.cursor }}</mat-panel-title
    >
  </mat-expansion-panel-header>
  <div class="children">
    <mat-card appearance="outlined">
      <mat-card-content>
        <app-form [fractal]="fractal" />
      </mat-card-content>
    </mat-card>
    @if (fractal.fractals) {
      <ng-content />
    }
  </div>
</mat-expansion-panel>
